<footer class="app-footer">
  <div class="app-footer-inner">
    <span class="app-footer-name">Developed by: VINCENT HABER</span>
    <span class="app-footer-sep" aria-hidden="true">|</span>
    <a class="app-footer-link" href="mailto:habervincet21@gmail.com">habervincet21@gmail.com</a>
    <span class="app-footer-sep" aria-hidden="true">|</span>
    <a class="app-footer-link" href="https://facebook.com/vinc3nthaber" target="_blank" rel="noopener noreferrer">facebook.com/vinc3nthaber</a>
  </div>
</footer>
